extends layout

block links
    link(href='../javascripts/code-prettify/prettify.css', rel='stylesheet')
    link(href='../javascripts/code-prettify/skins/desert.css', rel='stylesheet')

block scripts
    script(src='../javascripts/code-prettify/prettify.js')
    script(src='../javascripts/jquery.format.js')
    script(src='../javascripts/RequestSender.js')

block content
    .row
        .col-lg-12
            .form-group
                label WSDL Options
                select#wsdlOption.form-control
                    optgroup(label="UAT")
                        option(value="http://10.26.2.37:9909/superproxy/endpoints/ExternalServicesWS.wsdl")
                            | Superproxy A B TEST (Superproxy 1.0 & Superproxy 2.0)
                        option(value="http://10.26.2.37:9910/superproxy/endpoints/ExternalServicesWS.wsdl")
                            | Superproxy A (Superproxy 1.0)
                        option(value="http://10.26.2.37:9911/superproxy/endpoints/ExternalServicesWS.wsdl")
                            | Superproxy 2 (Superproxy 1.0)
                        option(value="http://10.26.2.37:9912/superproxy/endpoints/ExternalServicesWS.wsdl")
                            | Superproxy B (Superproxy 2.0)
                    optgroup(label="PRODUCTION")
                        option http://10.26.2.38:9909/superproxy/endpoints/ExternalServicesWS.wsdl
                        option http://10.26.2.39:9909/superproxy/endpoints/ExternalServicesWS.wsdl
        // /.col-lg-12

        .col-lg-12
            .form-group
                label Request Data
                textarea#soapData.form-control(rows='3')
        // /.col-lg-12

        .col-lg-12
            button#btnSubmit.btn.btn-default(type='button') POST
            button#btnReset.btn.btn-default(type='button') Reset
        // /.col-lg-12

        .col-lg-12
            .form-group
                label Result:
                // ?prettify lang=html linenums=true?
                pre#soapResp.prettyprint(style='height:400px;').

        // /.col-lg-12

